[submodule "Voxels/ext/glfw"]
	path = Voxels/ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Voxels/ext/glm"]
	path = Voxels/ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "Voxels/ext/assimp"]
	path = Voxels/ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Voxels/ext/imgui"]
	path = Voxels/ext/imgui
	url = https://github.com/ocornut/imgui.git
